<div class="main-container">
  <header>
    <a class="logo" href="/">
      <img
        src="../../assets/logo.png"
        alt="erasmus+ logo"
        width="190"
        height="38"
      />
    </a>
    <nav class="navbar center">
      <a href="/zycie-w-valladolid"> Życie w Valladolid </a>
      <a href="praktyka-zawodowa"> Praktyka zawodowa </a>
      <a href="wycieczki"> Wycieczki </a>
      <a href="uczestnicy"> Uczensticy </a>
    </nav>
    <div class="languages-container">
      <a href="../../index.html">Edu-IT</a>
    </div>
    <button type="button" class="hamburger">
      <img src="../../assets/Vector.svg" />
    </button>
  </header>
</div>
