@import url("https://fonts.googleapis.com/css?family=Inter:400");

html {
  font-size: 112.5%;
} /*18px*/

$blue: #0049b7;

body {
  background: #f7f7f7;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #252525;
  margin: 0 auto;
  min-height: 100vh;
}
.main-container {
  margin: 0 auto;
  padding: 40px 40px 0;
  max-width: 1400px;
  @media (max-width: 768px) {
    padding: 16px 16px;
  }
}
.subpage-container {
  min-height: 500px;
}
a {
  color: #252525;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1%;
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

small,
.text_small {
  font-size: 0.707rem;
}

.flex {
  display: flex;
}
