<div class="hero-container">
  <div class="hero-text">
    <p>2021-1-PL01-KA121-VET-000021185</p>
    <h1>Erasmus+ Valladolid</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard
    </p>
  </div>

  <div class="hero-images">
    <img
      class="first-photo"
      src="../../assets/Image1.png"
      alt=""
      height="430"
      width="358"
    />
    <img
      class="second-photo"
      src="../../assets/Image2.png"
      height="430"
      width="358"
      alt=""
    />
  </div>
</div>
