<section class="home-section" id="home-section">
  <p class="home-section-title">Poznaj naszą przygodę</p>
  <div class="flex space-between articles-container">
    <a href="http://">
      <div>
        <img src="../../assets/Image3.png" alt="" />
        <div class="space-between">
          <p>Życie w Valladoid</p>
          <img src="../../assets/arrow.svg" />
        </div>
      </div>
    </a>
    <a href="http://">
      <div>
        <img src="../../assets/Image4.png" alt="" />
        <div class="space-between">
          <p>Życie w Valladoid</p>
          <img src="../../assets/arrow.svg" />
        </div>
      </div>
    </a>
    <a href="http://">
      <div>
        <img src="../../assets/Image5.png" alt="" />
        <div class="space-between">
          <p>Życie w Valladoid</p>
          <img src="../../assets/arrow.svg" />
        </div>
      </div>
    </a>
  </div>
</section>
